{
   "blockKey" : [
   
    //INVISIBLE MATERIALS
   
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },
    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },
    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

	//ESSENTIAL SHIP OBJECTS
	
    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "flags" : [ "shipLockerPosition" ],
      "object" : "aegishiplocker",
      "objectParameters" : {
        "treasurePools" : [ "aegiStarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : true
      },
      "objectResidual" : true
    },
    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "aegishiplockertier0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "aegitechstation",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },
    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "brokenaegifuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [255, 90, 90, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "aegifuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },
	{
      "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "aegiteleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "aegiteleportertier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	{
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "aegicaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

	//LIGHTS
	
    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "aegishiplight",
      "objectResidual" : true
    },
    {
      "value" : [191, 191, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "aegishiplightbroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [128, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "aegishiplight",
      "objectParameters" : {
        "unbreakable" : true,
        "defaultLightState" : false
      }
    },
	{
      "value" : [122, 122, 122, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblelight",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

	//DOORS
	
    {
      "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "allianceblastdoor",
      "objectResidual" : true
    },
	
	//BOOSTERS

    {
      "value" : [168, 168, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamethea",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	{
      "value" : [180, 180, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mediumboosterflamethea2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	{
      "value" : [196, 196, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "largeboosterflamethea",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [168, 168, 168, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "smallboosterflamethea",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	{
      "value" : [174, 137, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "shipengine",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

	//MISC OBJECTS
    
    {
      "value" : [255, 232, 128, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblesparker",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	{
      "value" : [255, 0, 110, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "allianceshipcore",
      "objectResidual" : true
    },

	//MATERIALS

    {
      "value" : [220, 220, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true
    },
	{
      "value" : [255, 163, 102],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "alliancestairsplatform",
      "foregroundResidual" : true
    }
  ]
}
