{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "astraloutlawexplosion"
    },
    {
      "action" : "loop",
      "count" : 25,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
				"animation" : "/animations/thea-electricstunarc/thea-electricstunarc.animation",
				"position" : [0, 0],
				"finalVelocity" : [0, 0],
				"approach" : [50, 50],
				"destructionAction" : "shrink",
				"destructionTime" : 0.7,
				"fade" : 1,
				"size" : 0.8,
				"layer" : "middle",
				"timeToLive" : 5.7,
				"fullbright" : true,
				"variance" : {
				  "finalVelocity" : [1.5, 1.5],
				  "size" : 0.2,
				  "rotation" : 180,
				  "angularVelocity" : 180,
				  "position" : [6.5, 6.5]
				}
			  }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_electric3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
