{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "sandbombexplosion"
    },
    {
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/thea-sandcloud/thea-sandcloud-slow.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 1.0,
                "variance" : {
                  "position" : [2.0, 2.0],
                  "initialVelocity" : [1.5, 1.5],
                  "timeToLive" : 0.3,
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/blast_small_fire3.ogg" ]
    }
  ]
}
