{
  "action" : "actions",
  "list" : [
	{
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
			  "specification" : "thea-dustcloud"
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
			  "specification" : "dust2"
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
			  "specification" : "alliancetransportdronecrate"
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 2,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
			  "specification" : "alliancetransportdronecrate2"
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 2,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
			  "specification" : "alliancetransportdronecrate3"
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
			  "specification" : "alliancetransportdronecrate4"
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
		{
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/tech/hoverbike_crash1.ogg", "/sfx/tech/hoverbike_crash2.ogg", "/sfx/tech/hoverbike_crash3.ogg" ]
    }
  ]
}
