{
  //ALLIANCE EVENTS
  
  //The Harrowing (Halloween)
  "harrowing" : {
	"eventName" : "The Harrowing",
	"eventStartDay" : 290,
	"eventEndDay" : 311,
	"eventActiveMonth" : null
  },
  
  //Landing Festival (Christmas + New Year's)
  "landingfestival" : {
	"eventName" : "Landing Festival",
	"eventStartDay" : 335,
	"eventEndDay" : 365,
	"eventActiveMonth" : null
  }
}