{
  "action" : "actions",
  "list" : [
	{
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "explosion",
      "tileDamageType" : "explosive",
      "harvestLevel" : 99,
      "foregroundRadius" : 1.5,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 3,
      "delaySteps" : 2
    }
  ]
}
