{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "theleansuicideexplosion"
    },
    {
      "action" : "loop",
      "count" : 16,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/theleanexplosion/theleanexplosion.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 2.0,
                "variance" : {
                  "position" : [4.5, 4.5],
                  "initialVelocity" : [2, 2],
				  "timeToLive" : 0.6,
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 18,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/theleanexplosion/theleanexplosionlarge.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 2.0,
                "variance" : {
                  "position" : [4.5, 4.5],
                  "initialVelocity" : [1, 1],
				  "timeToLive" : 0.7,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "yellow"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 2.0,
      "delaySteps" : 2
    }

  ]
}
