{
  "openWithInventory" : true, //Forces the inventory to open when opening this interface
  
  "gui" : {
	//Main body
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/akkimariscavenging/header.png",
      "fileBody" : "/interface/scripted/akkimariscavenging/body.png",
      "fileFooter" : "/interface/scripted/akkimariscavenging/footer.png"
    },

	//Title, subtitles and icon
    "windowtitle" : {
      "type" : "title",
      "title" : " Scavenger's Worktable",
      "subtitle" : " Dismantle weapons into scrap metal",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/akkimariscavenging/akkimariscavengingicon.png"
      }
    },

	//Close interface button
	"close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [176, 119]
    },

	//Informational text fields
	"infoLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [10, 100],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "Dismantle a weapon into scrap metal"
    },
	"itemLevelLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [14, 61],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "invalid"
    },
	
	//Scripted buttons
    "btnDismantle" : {
      "type" : "button",
      "position" : [69, 27],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Dismantle",
      "callback" : "attemptDismantle"
    },

	//Item grids
	//Slot 1: item to be scrapped
	"itemGrid" : {
      "type" : "itemgrid",
      "position" : [59, 56],
      "dimensions" : [1, 1],
      "spacing" : [40, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
	//Slots 2-3: materials returned
	"itemGrid2" : {
      "type" : "itemgrid",
      "position" : [115, 56],
      "slotOffset" : 1,
      "dimensions" : [2, 1],
      "spacing" : [26, 20],
      "backingImage" : "/interface/inventory/empty.png"
    }
  },

  "scriptWidgetCallbacks" : [
    "attemptDismantle"
  ],

  "scripts" : ["/interface/scripted/akkimariscavenging/akkimariscavenginggui.lua"],
  "scriptDelta" : 5,
  
  //Conversion tables for determining how many pieces of scrap metal to get. Configured as [ "itemTag", number ]
  "conversionTables" : [
	//====================== RANGED WEAPONS ======================
	//--- Large Weapons ---
	[ "rocketlauncher", 3 ],
	[ "sniperrifle", 3 ],
	[ "machinegun", 3 ],
	[ "driftrifle", 3 ],
	[ "linerifle", 3 ],
	[ "minigun", 3 ],
	//--- Medium Weapons ---
	[ "grenadelauncher", 2 ],
	[ "assaultrifle", 2 ],
	[ "mininglaser", 2 ],
	[ "shotgun", 2 ],
	[ "bow", 2 ],
	//--- Small Weapons ---
	[ "machinepistol", 1 ],
	[ "pistol", 1 ],
	[ "smg", 1 ],
	
	//====================== MELEE WEAPONS ======================
	//--- Large Weapons ---
	[ "broadsword", 3 ],
	[ "bowstaff", 3 ],
	[ "hammer", 3 ],
	[ "spear", 3 ],
	//--- Medium Weapons ---
	[ "shortsword", 2 ],
	[ "chainsaw", 2 ],
	[ "crook", 2 ],
	[ "prod", 2 ],
	[ "axe", 2 ],
	//--- Small Weapons ---
	[ "dagger", 1 ],
	
	//====================== STAFF WEAPONS ======================
	[ "staff", 2 ],
	[ "wand", 1 ],
	
	//====================== MISC WEAPONS ======================
	[ "theaUnique", 5 ]
  ],
  
  //Conversion tables for determining special materials to return based on item tags. Configured as [ "itemTag", "itemName", number, priority ]
  //Priority determines which material to return if there are multiple matching tags, ensuring that the more valuable materials always have priority
  "specialConversionTables" : [
	[ "melee", "akkimaribladeparts", 1, 1 ],
	[ "ranged", "akkimarigunparts", 1, 2 ]
  ],
  
  //Level table for determining which materials to give the player
  "levelMaterialTable" : [
	"akkimarimetal",		//Level 1
	"akkimarimetaltier2",	//Level 2
	"akkimarimetaltier3",	//Level 3
	"akkimarimetaltier4",	//Level 4
	"akkimarimetaltier5",	//Level 5
	"akkimarimetaltier6",	//Level 6
	"akkimarimetaltier6",	//Level 7
	"akkimarimetaltier6",	//Level 8
	"akkimarimetaltier6",	//Level 9
	"akkimarimetaltier6"	//Level 10
  ]
}
