{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/jackofkingsbulletimpact/jackofkingspowerbulletimpact.animation",
                "fullbright" : true,
                "approach" : [0.0, 0.0],
                "destructionAction" : "shrink",
                "timeToLive" : 2.0,
                "variance" : {
                  "position" : [0.0, 0.0],
                  "initialVelocity" : [0, 0],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
				"size" : 1.0,
				"color" : [255, 216, 0],
				"position" : [0, 0],
				"destructionAction" : "shrink",
				"destructionTime" : 0.5,
				"fade" : 1,
				"layer" : "middle",
				"fullbright" : true,
				"timeToLive" : 0.2,
				"initialVelocity" : [0.0, 0.0],
				"finalVelocity" : [0, -10.0],
				"approach" : [2, 10],
				"variance" : {
				  "initialVelocity" : [11.0, 11.0],
				  "size" : 0.25,
				  "timeToLive" : 0.5
				}
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
				"size" : 1.5,
				"color" : [255, 106, 0],
				"position" : [0, 0],
				"destructionAction" : "shrink",
				"destructionTime" : 0.2,
				"fade" : 1,
				"layer" : "middle",
				"fullbright" : true,
				"light" : [56, 22, 0],
				"timeToLive" : 0.2,
				"initialVelocity" : [0.0, 0.0],
				"finalVelocity" : [0, -10.0],
				"approach" : [2, 10],
				"variance" : {
				  "initialVelocity" : [6.0, 6.0],
				  "size" : 0.25,
				  "timeToLive" : 0.5
				}
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/impact_plasma.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
