{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 25,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
				"size" : 1.5,
				"color" : [0, 255, 33],
				//"light" : [120, 43, 0],
				"position" : [0, 0],
				"destructionAction" : "shrink",
				"destructionTime" : 0.3,
				"fade" : 1,
				"layer" : "middle",
				"fullbright" : true,
				"timeToLive" : 0.15,
				"variance" : {
				  "initialVelocity" : [3.0, 3.0],
				  "size" : 0.5,
				  "timeToLive" : 0.3,
				  "position" : [1.0, 1.0]
				}
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 25,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
				"size" : 1.5,
				"color" : [175, 255, 114],
				//"light" : [120, 100, 0],
				"position" : [0, 0],
				"destructionAction" : "shrink",
				"destructionTime" : 0.3,
				"fade" : 1,
				"layer" : "middle",
				"fullbright" : true,
				"timeToLive" : 0.15,
				"variance" : {
				  "initialVelocity" : [3.0, 3.0],
				  "size" : 0.5,
				  "timeToLive" : 0.3,
				  "position" : [1.0, 1.0]
				}
              }
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
			  "specification" : "akkimariashsmoke-death"
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/linerifle_kill.ogg" ]
    }
  ]
}
