{
  "gui" : {
  //==================================== STANDARD ELEMENTS ====================================
	//Main body
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/avikankeypad/header.png",
      "fileBody" : "/interface/scripted/avikankeypad/body.png",
      "fileFooter" : "/interface/scripted/avikankeypad/footer.png"
    },
	//Title, subtitles and icon
    "windowtitle" : {
      "type" : "title",
      "title" : " Vanguard Keypad Lock",
      "subtitle" : " Programmable keypad",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/avikankeypad/icon.png",
        "zlevel" : -1
      }
    },
	//Close interface button
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [164, 244]
    },
	
  //==================================== BUTTONS ====================================
	//Numeric Buttons
    "btnNumber0" : {
      "type" : "button",
      "position" : [46, 31],
      "base" : "/interface/scripted/avikankeypad/button_0.png",
      "hover" : "/interface/scripted/avikankeypad/button_0_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_0_hover.png",
      "caption" : "",
      "callback" : "buttonNumber0"
    },
	"btnNumber1" : {
      "type" : "button",
      "position" : [8, 145],
      "base" : "/interface/scripted/avikankeypad/button_1.png",
      "hover" : "/interface/scripted/avikankeypad/button_1_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_1_hover.png",
      "caption" : "",
      "callback" : "buttonNumber1"
    },
	"btnNumber2" : {
      "type" : "button",
      "position" : [46, 145],
      "base" : "/interface/scripted/avikankeypad/button_2.png",
      "hover" : "/interface/scripted/avikankeypad/button_2_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_2_hover.png",
      "caption" : "",
      "callback" : "buttonNumber2"
    },
	"btnNumber3" : {
      "type" : "button",
      "position" : [84, 145],
      "base" : "/interface/scripted/avikankeypad/button_3.png",
      "hover" : "/interface/scripted/avikankeypad/button_3_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_3_hover.png",
      "caption" : "",
      "callback" : "buttonNumber3"
    },
	"btnNumber4" : {
      "type" : "button",
      "position" : [8, 107],
      "base" : "/interface/scripted/avikankeypad/button_4.png",
      "hover" : "/interface/scripted/avikankeypad/button_4_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_4_hover.png",
      "caption" : "",
      "callback" : "buttonNumber4"
    },
	"btnNumber5" : {
      "type" : "button",
      "position" : [46, 107],
      "base" : "/interface/scripted/avikankeypad/button_5.png",
      "hover" : "/interface/scripted/avikankeypad/button_5_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_5_hover.png",
      "caption" : "",
      "callback" : "buttonNumber5"
    },
	"btnNumber6" : {
      "type" : "button",
      "position" : [84, 107],
      "base" : "/interface/scripted/avikankeypad/button_6.png",
      "hover" : "/interface/scripted/avikankeypad/button_6_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_6_hover.png",
      "caption" : "",
      "callback" : "buttonNumber6"
    },
	"btnNumber7" : {
      "type" : "button",
      "position" : [8, 69],
      "base" : "/interface/scripted/avikankeypad/button_7.png",
      "hover" : "/interface/scripted/avikankeypad/button_7_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_7_hover.png",
      "caption" : "",
      "callback" : "buttonNumber7"
    },
	"btnNumber8" : {
      "type" : "button",
      "position" : [46, 69],
      "base" : "/interface/scripted/avikankeypad/button_8.png",
      "hover" : "/interface/scripted/avikankeypad/button_8_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_8_hover.png",
      "caption" : "",
      "callback" : "buttonNumber8"
    },
	"btnNumber9" : {
      "type" : "button",
      "position" : [84, 69],
      "base" : "/interface/scripted/avikankeypad/button_9.png",
      "hover" : "/interface/scripted/avikankeypad/button_9_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_9_hover.png",
      "caption" : "",
      "callback" : "buttonNumber9"
    },
	
	//Utility Buttons
	"btnConfirm" : {
      "type" : "button",
      "position" : [132, 126],
      "base" : "/interface/scripted/avikankeypad/button_confirm.png",
      "hover" : "/interface/scripted/avikankeypad/button_confirm_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_confirm_disabled.png",
      "caption" : "",
      "callback" : "buttonConfirm"
    },
	"btnClear" : {
      "type" : "button",
      "position" : [132, 69],
      "base" : "/interface/scripted/avikankeypad/button_clear.png",
      "hover" : "/interface/scripted/avikankeypad/button_clear_hover.png",
      "disabledImage" : "/interface/scripted/avikankeypad/button_clear_hover.png",
      "caption" : "",
      "callback" : "buttonClear"
    },
	
  //==================================== SCREEN ====================================
	//Number Slots
	"scrnSlot1" : {
      "type" : "image",
      "file" : "/interface/scripted/avikankeypad/screen_empty.png",
      "position" : [11, 192]
    },
	"scrnSlot2" : {
      "type" : "image",
      "file" : "/interface/scripted/avikankeypad/screen_empty.png",
      "position" : [41, 192]
    },
	"scrnSlot3" : {
      "type" : "image",
      "file" : "/interface/scripted/avikankeypad/screen_empty.png",
      "position" : [71, 192]
    },
	"scrnSlot4" : {
      "type" : "image",
      "file" : "/interface/scripted/avikankeypad/screen_empty.png",
      "position" : [101, 192]
    },
	"scrnSlot5" : {
      "type" : "image",
      "file" : "/interface/scripted/avikankeypad/screen_empty.png",
      "position" : [131, 192]
    },
	
  //==================================== STANDARD ELEMENTS ====================================
	//Shine
    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/avikankeypad/shine.png",
      "zlevel" : 2,
      "position" : [0, 0],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "buttonNumber0",
	"buttonNumber1",
	"buttonNumber2",
	"buttonNumber3",
	"buttonNumber4",
	"buttonNumber5",
	"buttonNumber6",
	"buttonNumber7",
	"buttonNumber8",
	"buttonNumber9",
	"buttonConfirm",
	"buttonClear"
  ],

  "scripts" : ["/interface/scripted/avikankeypad/avikankeypadgui.lua"],
  "scriptDelta" : 5
}
