{
  "gui" : {
	//Main body
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/avikandrodenshop/header.png",
      "fileBody" : "/interface/scripted/avikandrodenshop/body.png",
      "fileFooter" : "/interface/scripted/avikandrodenshop/footer.png"
    },

	//Title, subtitles and icon
    "windowtitle" : {
      "type" : "title",
      "title" : " Droden Legion Terminal",
      "subtitle" : " Recruit Droden Legion units",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/avikandrodenshop/icon.png",
        "zlevel" : -1
      }
    },

	//Close interface button
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [210, 201]
    },

	//Informational text fields
    "lblInformationText" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [20, 183],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "Trade tokens to recruit Droden crewmembers"
    },
	"lblWarningText" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [9, 174],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "color" : "red",
      "value" : "Make sure your crew isn't full. No refunds possible!"
    },

	//Traded item and item count
    "itmTradeItem" : {
      "type" : "itemslot",
      "zlevel" : 1,
      "position" : [52, 62],
      "callback" : "null"
    },
    "lblTradeItemName" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [76, 71],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Token of Merit",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },
    "lblTradeItemQuantity" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [171, 67],
      "hAnchor" : "right",
      "vAnchor" : "bottom",
      "color" : "green",
      "value" : "20/20"
    },
	
	//Text fields for the various crewmember type names
    "lblCombat" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [52, 158],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Soldier",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },
    "lblMedic" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [162, 158],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Medic",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },
    "lblEngineer" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [52, 116],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Engineer",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },
    "lblMechanic" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [162, 116],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Mechanic",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },

	//Recruitment buttons for the various crewmember types
    "btnRecruitCombat" : {
      "type" : "button",
      "position" : [49, 131],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Recruit",
      "callback" : "recruitCrewmemberCombat"
    },
	"btnRecruitMedic" : {
      "type" : "button",
      "position" : [159, 131],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Recruit",
      "callback" : "recruitCrewmemberMedic"
    },
	"btnRecruitEngineer" : {
      "type" : "button",
      "position" : [49, 89],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Recruit",
      "callback" : "recruitCrewmemberEngineer"
    },
	"btnRecruitMechanic" : {
      "type" : "button",
      "position" : [159, 89],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Recruit",
      "callback" : "recruitCrewmemberMechanic"
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/avikandrodenshop/shine.png",
      "zlevel" : 2,
      "position" : [0, 0],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "recruitCrewmemberCombat",
	"recruitCrewmemberMedic",
	"recruitCrewmemberEngineer",
	"recruitCrewmemberMechanic"
  ],

  "scripts" : ["/interface/scripted/avikandrodenshop/avikandrodenshopgui.lua"],
  "scriptDelta" : 5
}
