{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Chekren", "Chasha", "Chaa", "Chemin", "Chadan", "Chrakris", "Chresik", "Chranaa", "Chraman", "Chrodin", "Chresun", "Kreshin", "Krahan", "Kronan", "Khekrin", "Kharak", "Kharon", "Kharkan", "Kharmis", "Khrosek", "Khrava", "Ghan", "Ghemin", "Ghret", "Ghrot", "Lechrin", "Lochras", "Lechros", "Lachres", "Machron", "Mechrin", "Macha", "Vachan", "Vhachres", "Vhakra", "Ravaa", "Varaa", "Vahkraa", "Vhaachru", "Wachrim", "Prachaa", "Kreskri", "Nachraa", "Nekri", "Merrich", "Mhakras", "Zavrhaan", "Vazr", "Zavr", "Zahra", "Zaachra", "Lochra", "Chraniks", "Kranaa", "Kravaa", "Krech", "Kroch", "Bachraa", "Bhakr", "Bachr", "Vaasha", "Vaashr", "Gavaash", "Chravaa" ]
    ]
  ]
}
