{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Idyan", "Idyari", "Madyaki", "Yallar", "Yayar", "Udyalon", "Udyon", "Adyasi", "Idisi", "Redako", "Redyal", "Edyal", "Edyoni", "Adyara", "Odyon", "Adyakar", "Odyin", "Valyan", "Adako", "Idako", "Idyon", "Yakan", "Adyako", "Azyon", "Medyiki", "Odyan", "Adyan", "Adyaran", "Izitya", "Azyal", "Azak", "Uryar", "Iryon", "Eryan", "Midyal", "Zaheer", "Eydiki", "Kahan", "Kalar", "Kanave", "Azyata", "Moloka", "Dyalar", "Solay", "Vayrec", "Avata", "Akata", "Aymeni", "Hodyari", "Manyari", "Zavaan", "Kanaan", "Kaheed", "Dyaheed", "Ameyri", "Bahaar", "Bahaad", "Idyaka", "Armaan", "Gaheed", "Ikaar", "Okeer", "Hanaan", "Ladyaki", "Lakeer", "Manaan", "Eydaki", "Iryalaan", "Aryalaan", "Adyaan", "Alkhaan", "Khadyaki", "Khayar", "Khadyon", "Uryaan", "Uryari", "Uryaki" ],
      [ { "mode" : "alts" }, " as-Kavara", " as-Koden", " as-Nomeni", " as-Udini", " as-Valara", " as-Monumi", " as-Vhaleih", " as-Rhadas", " as-Romeni", " as-Fetali", " as-Loday", " as-Kanan", " as-Tevira", " as-Yakana", " as-Manada", " as-Valuda", " as-Rhadein", " as-Vagaard", " as-Ahlaad", " as-Ahraan", " as-Fallor", " as-Andrava", " as-Vhalani", " as-Kharaad", " as-Leneer", " as-Pohyar", " as-Anaan", " as-Kalachi", " as-Avikha", " as-Vhalakis" ]
    ]
  ]
}
