{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Cenne", "Cenha", "Cahne", "Visos", "Rha", "Rheo", "Cen", "Civhi", "Lado", "Vinde", "Loh", "Hesse", "Jahla", "Jeh", "Vasa", "He" ],
      [ { "mode" : "alts" }, "deis", "net", "lest", "lohs", "san", "han", "hohen" ]
    ]
  ]
}
