{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Vec", "Voc", "Vac", "Thal", "Ther", "Dror", "Terres", "Tohr", "Kavhir", "Khalen", "Klos", "Ladra", "Nok", "Velec", "Vashis", "Vhilin" ],
      [ { "mode" : "alts" }, "ton", "tor", "tren", "kon", "kha", "han" ]
    ]
  ]
}
