{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Niv", "Kilo", "Mega", "Giga", "Tera", "Peta", "Exa", "Zetta", "Yotta", "Kibi", "Mebi", "Gibi", "Tebi", "Pebi", "Exbi", "Zebi", "Yobi", "Alpha", "Beta", "Gamma", "Delta", "Epsilon", "Zeta", "Eta", "Theta", "Iota", "Kappa", "Lambda", "Mu", "Xi", "Omicron", "Pi", "Rho", "Sigma", "Tau", "Upsilon", "Phi", "Chi", "Psi", "Omega", "Up", "Down", "Hi", "Wi", "Bi" ],
      [ { "mode" : "alts" }, "RAM", "ROM", "CPU", "OS", "WARE", "CLOUD", "BIT", "NYBBLE", "BYTE", "FLOP", "HERTZ", "DISK", "DRIVE", "FLUX", "LOAD", "DATA" ]
    ]
  ]
}
