{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "textured",
                "image" : "/animations/allianceflash/allianceflashfadedstrong.png",
                "fade" : 1.0,
				"light" : [200, 200, 200],
                "destructionAction" : "fade",
                "destructionTime" : 0.25,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [0, 0],
                "timeToLive" : 0.1,
                "size" : 2.0,
                "layer" : "middle"
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
			  "specification" : {
				"type" : "animated",
				"image" : "/animations/floorsmoke/floorsmoke.animation",
				"size" : 1.0,
				"color" : [175, 175, 175, 255],
				"destructionAction" : "fade",
				"destructionTime" : 5,
				"initialVelocity" : [0, 0],
				"timeToLive" : 1,
				"layer" : "front",
				"position" : [0, 2],
				"variance" : {
				  "initialVelocity" : [2, 0.0],
				  "position" : [3, 1]
				}
              }
            }
          ]
        }
      ]
    }
  ]
}
