{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "akkimarinailbombexplosion"
    },
    {
      "action" : "loop",
      "count" : 25,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "projectile",
			  "type" : "akkimarinailsmall2",
			  "inheritDamageFactor" : 0.02,
			  "fuzzAngle" : 360,
			  "angleAdjust" : 0
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : "akkimariashsmoke-wide"
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}
