{
  "openWithInventory" : true, //Forces the inventory to open when opening this interface
  
  "gui" : {
	//Main body
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/allianceweaponattachment/header.png",
      "fileBody" : "/interface/scripted/allianceweaponattachment/body.png",
      "fileFooter" : "/interface/scripted/allianceweaponattachment/footer.png"
    },

	//Title, subtitles and icon
    "windowtitle" : {
      "type" : "title",
      "title" : " Weapon Attachment Bench",
      "subtitle" : " Customize your weapons!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/allianceweaponattachment/allianceweaponattachmenticon.png"
      }
    },

	//Close interface button
	"close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [176, 119]
    },

	//Informational text fields
	"infoLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [10, 100],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "Assemble or dismantle a weapon"
    },
	
	//Scripted buttons
    "btnAttach" : {
      "type" : "button",
      "position" : [15, 27],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongreyed.png",
      "caption" : "Assemble",
      "callback" : "attemptAttach"
    },
    "btnDetach" : {
      "type" : "button",
      "position" : [123, 27],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongreyed.png",
      "caption" : "Dismantle",
      "callback" : "attemptDetach"
    },

	//Item grids
	//Slots 1-2: unmodded weapon, attachment
	"itemGrid" : {
      "type" : "itemgrid",
      "position" : [35, 56],
      "dimensions" : [2, 1],
      "spacing" : [40, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
	//Slot 3: assembled weapon
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [139, 56],
      "slotOffset" : 2,
      "dimensions" : [1, 1],
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    }
  },

  "scriptWidgetCallbacks" : [
    "attemptAttach",
    "attemptDetach"
  ],

  "scripts" : ["/interface/scripted/allianceweaponattachment/allianceweaponattachmentgui.lua"],
  "scriptDelta" : 5
}
