{
  "openWithInventory" : true, //Forces the inventory to open when opening this interface
  
  "gui" : {
	//Main body
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/allianceweaponimprovement/header.png",
      "fileBody" : "/interface/scripted/allianceweaponimprovement/body.png",
      "fileFooter" : "/interface/scripted/allianceweaponimprovement/footer.png"
    },

	//Title, subtitles and icon
    "windowtitle" : {
      "type" : "title",
      "title" : " Weapon Improvement Bench",
      "subtitle" : " Improve your weapons here!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/allianceweaponimprovement/icon.png"
      }
    },
	
	//Close interface button
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [255, 153]
    },

	//Scroll area
    "itemScrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 42, 174, 127], //Anchored in bottom-left corner of the interface
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/allianceweaponimprovement/listitemselected.png",
            "unselectedBG" : "/interface/scripted/allianceweaponimprovement/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/allianceweaponimprovement/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/interface/scripted/allianceweaponimprovement/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    //Informational text fields
    "emptyLabel" : {
      "type" : "label",
      "position" : [20, 75],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "You don't have any weapons that can be upgraded!",
      "wrapWidth" : 125,
      "color" : [185, 181, 178]
    },
	"infoLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [186, 128],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "Insert Upgrade Kit"
    },
	"currentLevelLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [209, 60],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "-"
    },
	"newLevelLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [232, 60],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "-"
    },

	//Scripted buttons
    "btnUpgrade" : {
      "type" : "button",
      "position" : [195, 36],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Upgrade",
      "callback" : "doUpgrade"
    },
	
	//Item grid
	"itemGrid" : {
      "type" : "itemgrid",
      "position" : [213, 80],
      "dimensions" : [1, 1],
      "spacing" : [40, 20],
      "backingImage" : "/interface/inventory/empty.png"
    }
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
    "doUpgrade"
  ],

  "scripts" : ["/interface/scripted/allianceweaponimprovement/allianceweaponimprovementgui.lua"],
  "scriptDelta" : 5,
  
  "upgradeItemTag" : "akkimariUpgradeable",
  "upgradeKitTag" : "akkimariUpgradeKit"
}
