{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : "voidgravity"
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/voidgravity_impact.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}
