{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/interface/chests/slots1to16.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [40, 79],
      "file" : "",
      "centered" : true,
      "maxSize" : [60, 60],
      "minSize" : [60, 60]
    },
    "btnSell" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Exchange",
      "position" : [96, 26],
      "callback" : "triggerSale"
    },
    "lblTokenLabel" : {
      "type" : "label",
      "position" : [6, 28],
      "value" : "TOTAL VALUE"
    },
    "imgTokenIcon" : {
      "type" : "image",
      "position" : [56, 29],
      "centered" : false,
      "file" : "/interface/scripted/avikanmaterialmerchant/merittoken.png"
    },
    "lblTokens" : {
      "type" : "label",
      "position" : [68, 28],
      "value" : "0"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [81, 42],
      "dimensions" : [4, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "16 SLOTS",
      "hAnchor" : "mid",
      "position" : [120, 119]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine1to16.png",
      "position" : [0, 2]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [143, 135]
    }
  },

  "scriptWidgetCallbacks" : [
    "triggerSale"
  ],

  "scripts" : ["/interface/scripted/avikanmaterialmerchant/avikanmaterialmerchantgui.lua"],
  "scriptDelta" : 15
}
