{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/xanafianlinerifleimpact/xanafianlinerifleimpact.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 1.25,
				"fullbright" : true,
                "variance" : {
                  "position" : [0.0, 0.0],
                  "initialVelocity" : [0, 0],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/tech/vehicle_appear3.ogg" ]
    }
  ]
}
