{
  "gui" : { //Font is Hobo 12px
  //==================================== STANDARD ELEMENTS ====================================
	//Main body
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/events/landingfestival/body.png",
      "fileBody" : "",
      "fileFooter" : ""
    },
	//Close interface button
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 210]
    },

	//Informational text fields
    "title" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [186, 219],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : "^orange;NEW EVENT: ^gray;The Landing Festival^reset;"
	},

    "description" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [189, 203],
      "hAnchor" : "left",
      "vAnchor" : "top",
	  "wrapWidth" : 198,
      "lineSpacing" : 1.0,
      "value" : 

//=========================================== DESCRIPTION BOX ===========================================
"The Landing Festival, a celebration of the Aegi's arrival on Elithia hundreds of years ago, has arrived! This event features:

- A new location, the ^cyan;Festival Hall^reset;, accessible through a teleporter in the Creon Embassy

- New event-themed ^cyan;decorative objects^reset;, ^cyan;armour pieces^reset;, ^cyan;weapons^reset; and ^cyan;consumables^reset;

- New quests for obtaining event-themed ^orange;Unique-quality items^reset;

- ^cyan;Fireworks^reset; available in various colours

- ^cyan;Daily presents^reset; in the Festival Hall. Visit the large decorated tree in the Festival Hall for a free daily present

- A second chance at obtaining ^cyan;items missed in previous events^reset;. These items drop randomly from Landing Festival Presents!"
//=======================================================================================================

    }
  }
}
