{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 10,
      "type" : "errasslayersexplosion"
    },
	{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "errasslayersdebrisspawner"
    },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/errasslayersexplosion/errasslayersexplosion.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 2.0,
				"layer" : "front",
                "variance" : {
                  "position" : [2.0, 2.0],
                  "initialVelocity" : [1, 1],
				  "timeToLive" : 0.6,
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/errasslayersexplosion/errasslayersexplosionlarge.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 2.0,
				"layer" : "front",
                "variance" : {
                  "position" : [2.0, 2.0],
                  "initialVelocity" : [0, 0],
				  "timeToLive" : 0.7,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/pulsecannon_blast1.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 2.0,
      "delaySteps" : 2
    }

  ]
}
