{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "allianceenergyexplosionmedium"
    },
    {
      "action" : "loop",
      "count" : 6,
      "body" : [
		{
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 25,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
				"size" : 1,
				"color" : [0, 148, 255],
				//"light" : [120, 43, 0],
				"position" : [0, 0],
				"destructionAction" : "shrink",
				"destructionTime" : 0.5,
				"fade" : 1,
				"layer" : "middle",
				"fullbright" : true,
				"timeToLive" : 0.5,
				"variance" : {
				  "initialVelocity" : [2.0, 2.0],
				  "size" : 0.5,
				  "timeToLive" : 1.0,
				  "position" : [3.0, 3.0]
				}
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 25,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
				"size" : 1,
				"color" : [127, 201, 255],
				//"light" : [120, 100, 0],
				"position" : [0, 0],
				"destructionAction" : "shrink",
				"destructionTime" : 0.5,
				"fade" : 1,
				"layer" : "middle",
				"fullbright" : true,
				"timeToLive" : 0.5,
				"variance" : {
				  "initialVelocity" : [2.0, 2.0],
				  "size" : 0.5,
				  "timeToLive" : 1.0,
				  "position" : [3.0, 3.0]
				}
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/pulsecannon_blast1.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}
