{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "jumprifleburnburst"
    },
    {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/jumprifleexplosion/jumprifleexplosion.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 1.5,
                "variance" : {
                  "position" : [1.0, 1.0],
                  "initialVelocity" : [0, 0],
				  "timeToLive" : 1.0,
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
				"animation" : "/animations/jumpriflepuff/jumpriflepuff.animation",
				"size" : 1,
				"angularVelocity" : 0,
				"timeToLive" : 0.7,
				"layer" : "middle",
				"destructionTime" : 0.5,
				"destructionAction" : "fade",
				"variance" : {
				  "position" : [2.0, 2.0],
				  "timeToLive" : 0.5
				}
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/fireball_spit.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
