{
  "converse": {
    "default" : {
      "default": [ 
        "I have nothing to say to you."
      ]
    },
    "aegi" : {
      "default": [ 
        "Hi there."
      ],
      "generic": [ 
        "Isn't this place great? It's got everything I'd ever need!",
        "The Creon Embassy is really something, huh? It's such a great place to visit.",
        "There's people of all kinds of species here.",
        "Have you been to the top level of the embassy? There's a locked door there. I wonder what's behind it?",
        "There's a mechanic in the embassy's hangars who fixes up broken vehicles.",
        "The lady at the embassy's reception desk was actually quite helpful to me.",
        "I wish I was an ambassador too. The places I'd get to visit...",
        "Seeing the city in the distance always makes me feel happy.",
        "The banners in the embassy are so cool. Makes us all feel connected.",
        "I've been inside the sewers beneath the town once. It's kinda scary in there.",
        "I heard strange noises in the sewers below the town. Maybe I should report them to P-ASA...",
        "I've seen some weird people here. I was kinda freaked out.",
        "The gardens here are so pretty.",
        "There's an awesome gift shop in the town.",
        "There's a shop in the town that sells posters. I wanted the NSI poster, but it's kinda expensive.",
        "What brings you to the embassy today?",
        "Do you visit here often?",
        "You must have seen some incredible places.",
        "I forgot where I parked my hovercar again. Hope I didn't leave it on a roof like last time...",
        "The Kelbet here are so peaceful.",
        "I want a Trangii.",
        "My pet Trangii should be around here somewhere.",
        "The vehicle dealership in the town has some great rides for sale.",
        "The bookstore in town is small, but pretty good.",
        "I wonder why the sewers are off-limits?",
        "Wanna go grab a drink?",
        "I've got a home in the big city. You can actually see it from here.",
        "I wish I lived in the big city.",
        "Creon is a fascinating city.",
        "The town is officially called the Embassy Village. It's not actually part of Creon, but it's right on the edge.",
        "There's so many elevators in the embassy.",
        "I want to go home and play some games.",
        "I recently graduated!",
        "Watching the hovercars in the distance is so soothing.",
        "I wonder how high that tower in the distance really is?",
        "The Creon Embassy is such a large building.",
        "I want to visit the colonies one day.",
        "Have you ever been to one of the Union colonies? What was it like?",
        "The parks here are incredibly peaceful.",
        "My hayfever is acting up again.",
        "The climate here is really comfortable. Even the rain isn't too bad.",
        "My cousin got a new Aventor Galliot the other day. I'm a bit jealous.",
        "I used to be a traveler like you, but I got bored of that life.",
        "I heard something awful happened to Earth.",
        "I want to visit Scii some day.",
        "The Creon Embassy may not be the largest embassy, but it is one of the best.",
        "I want to visit Scii some day.",
        "I love those globes of Elithia. Makes me feel small.",
        "The embassy actually has a gun range. You need a special pass to access it though.",
        "There's this one Avikan fellow in the embassy. I hope they join the Alliance at some point, too.",
        "I saw this strange alien in the embassy, an Akkimari I think. Made me feel uneasy.",
        "There's some great Trinkian engineers and mechanics in the embassy's hangar.",
        "I love the fish in the embassy's pools.",
        "Have you been to the recruitment office yet? You can easily find more crewmembers there.",
        "I lost my keys somewhere. Perhaps the lost and found booth can help me.",
        "I heard there's a Trink in the sewers by the name of 'the Bolter'. Sounds sketchy.",
        "I saw this chest way up on the tower. I wonder what's in it?",
        "Want to come with me and visit the Hötbrod stand?",
        "I'm glad the embassy has plenty of public toilets.",
        "I saw soldiers way up in the embassy tower. I wonder why they're there?",
        "Huh? Oh, hi there!",
        "I love seeing the city lights turn on at night.",
        "I think I saw something up on those cliffs near the town."
      ]
    },
    "trink" : {
      "default": [ 
        "Greetings."
      ],
      "generic": [ 
        "This place is quite fascinating.",
        "This embassy is a good representation of the Elithian Alliance.",
        "I hope that Avikan in the embassy isn't here to hunt down machines...",
        "I helped design the embassy's power grid. It is very efficient.",
        "There are many Trinkian engineers in the embassy hangars. It's good to see more of my kind here.",
        "Is this your first time visiting Elithia?",
        "The embassy always offers exceptional connection to the Allied Interstellar Network.",
        "I've heard of you! You are <entityname>, right?",
        "Do not go into the sewers. You can easily get lost in there.",
        "The Aegi are big fans of Hötbrod, but I don't really get the fascination.",
        "The P-ASA officers here are very vigilant.",
        "Have you been to the Trinkian embassy yet?",
        "The elevators in the embassy run very efficiently.",
        "It is fascinating to see the trees growing on top of Aeginian buildings. It's a very efficient use of space.",
        "It is odd to see so much wildlife here. They are not exactly afraid of us.",
        "I heard there are plans to expand the embassy even further. I am curious to see what will be added next.",
        "Greetings, traveler.",
        "There is a Union Admiral in the embassy's upper levels. I haven't been allowed to speak to him yet.",
        "I tried to enter an Aventor Galliot once. I didn't quite fit.",
        "It is good to see that the Aegi rely more on public transportation than personal transportation. It's quite efficient.",
        "One of those Trangii barked at me earlier. I don't think it likes me.",
        "I got head-butted by one of the Kelbet once. Poor thing hurt itself quite badly.",
        "The town has some good shops in it, but most of it isn't very relevant to me.",
        "I have a pass to enter the embassy gun range. No, you can't have it.",
        "I hitchhiked my way here.",
        "Do you know the meaning of life?",
        "Have you ever tried hitchhiking? It's great fun.",
        "Many of the embassy's lights only turn on at night. I like the efficiency of the system."
      ]
    }
  }
}