{
  "converse": {
    "default" : {
      "default": [ 
        "I have nothing to say to you."
      ]
    },
    "aegi" : {
      "default": [ 
        "Hi there."
      ],
      "generic": [ 
        "Isn't this place great? It's got everything I've ever need!",
        "The Creon Embassy is really something, huh? It's such a great place to visit.",
        "There's people of all kinds of species here.",
        "Have you been to the top level of the embassy? There's a locked door there. I wonder what's behind it?",
        "There's a mechanic in the embassy's hangars who fixes up broken vehicles.",
        "The lady at the reception desk in the embassy was actually quite helpful to me.",
        "I wish I was an ambassador too. The places I'd get to visit...",
        "Seeing the city in the distance always makes me feel happy.",
        "The banners in the embassy are so cool. Makes us all feel connected.",
        "I've been inside the sewers beneath the town once. It's kinda scary in there.",
        "I heard strange noises in the sewers below the town. Maybe I should report them to P-ASA...",
        "I've seen some weird people here. I was kinda freaked out.",
        "The gardens here are so pretty.",
        "There's an awesome gift shop in the town.",
        "There's a shop in the town that sells posters. I wanted the NSI poster, but it's kinda expensive.",
        "What brings you to the embassy today?",
        "Do you visit here often?",
        "You must have seen some incredible places.",
        "I forgot where I parked my hovercar again. Hope I didn't leave it on a roof like last time...",
        "The Kelbet here are so peaceful.",
        "I want a Trangii.",
        "My pet Trangii should be around here somewhere.",
        "The vehicle dealership has some great rides for sale.",
        "The bookstore in town is small, but pretty good.",
        "I wonder why the sewers are off-limits?",
        "Wanna go grab a drink?",
        "I've got a home in the big city. You can actually see it from here.",
        "I wish I lived in the big city.",
        "Creon is a fascinating city.",
        "This place is officially called the Embassy Village. It's not actually part of Creon, but it's right on the edge.",
        "There's so many elevators here.",
        "I want to go home and play some games.",
        "I recently graduated!",
        "Watching the hovercars in the distance is so soothing.",
        "I wonder how high that tower in the distance really is?",
        "The Creon Embassy is such a large building.",
        "I want to visit the colonies one day.",
        "Have you ever been to one of the Union colonies? What was it like?",
        "The parks here are incredibly peaceful.",
        "My hayfever is acting up again.",
        "The climate here is really comfortable. Even the rain isn't too bad.",
        "My cousin got a new Aventor Galliot the other day. I'm a bit jealous.",
        "I used to be a traveler like you, but I got bored of that life.",
        "I heard something awful happened to Earth.",
        "I want to visit Scii some day."
      ]
    }
  }
}