{
  "converse": {
    "default" : {
      "default": [ 
        "I have nothing to say to you."
      ]
    },
    "avikan" : {
      "default": [ 
        "I don't know what you are...",
		"What sort of creature might you be?",
		"...",
		"Yes?",
		"Greetings, stranger.",
		"Welcome to the Starfarer's Refuge, stranger!",
		"I wish I could go to Vhalas Andra'veih one day...",
		"Hmph.",
		"Need anything?",
		"Why don't you go and get a drink at the Starsight Inn?",
		"Have you been to Valyan as-Nadata yet? He can fix up your vehicles.",
		"Odyin as-Rhadeis is the best weapons vendor you'll find here.",
		"There's a teleporter shop here in the Starfarer's Refuge. Have you been there yet?",
		"If you have some leftover materials, you can trade them for tokens next to the teleporter shop.",
		"I thought I saw someone on those asteroids in the distance..."
      ],
	  "human": [ 
        "Greetings, soft-skin.",
		"I've heard your kind can be quite hostile to strangers.",
		"Your skin is so soft!",
		"Don't try anything here. The Watchers will see.",
		"You don't have any flaps?",
		"Your eyes are so small...",
		"I'm surprised you can stand the heat here. Many aliens find it unbearable.",
		"Hello there.",
		"Can I help you?",
		"You're no Aegi, are you?",
		"Welcome to the Starfarer's Refuge, stranger!",
		"Why don't you go and get a drink at the Starsight Inn?",
		"Have you been to Valyan as-Nadata yet? He can fix up your vehicles.",
		"Odyin as-Rhadeis is the best weapons vendor you'll find here.",
		"There's a teleporter shop here in the Starfarer's Refuge. Have you been there yet?",
		"If you have some leftover materials, you can trade them for tokens next to the teleporter shop.",
		"I thought I saw someone on those asteroids in the distance..."
      ],
	  "apex": [ 
        "Greetings, hairy thing.",
		"There's no Miniknog here, if you were wondering.",
		"You're a bit smelly...",
		"I've never seen someone with that much hair before.",
		"Do you ever shave?",
		"Ha! Oh, sorry... I just thought you looked funny.",
		"Doesn't it get warm with all that fur?",
		"Are you sure YOU aren't Miniknog?",
		"Can I help you?",
		"You look a bit like an Aegi.",
		"Welcome to the Starfarer's Refuge, stranger!",
		"Why don't you go and get a drink at the Starsight Inn?",
		"Have you been to Valyan as-Nadata yet? He can fix up your vehicles.",
		"Odyin as-Rhadeis is the best weapons vendor you'll find here.",
		"There's a teleporter shop here in the Starfarer's Refuge. Have you been there yet?",
		"If you have some leftover materials, you can trade them for tokens next to the teleporter shop.",
		"I thought I saw someone on those asteroids in the distance..."
      ],
	  "avian": [ 
        "Greetings, feathered one.",
		"Those feathers of yours look a bit like our flaps.",
		"I heard your kind likes shiny things.",
		"Can you fly?",
		"I thought your kind had wings.",
		"I'm impressed that you can speak our language with that beak of yours.",
		"You seem the musical type. Sing me a song, will you?",
		"Hello there.",
		"Can I help you?",
		"Avikan, Avian... They do sound a bit alike, no?",
		"Welcome to the Starfarer's Refuge, stranger!",
		"Why don't you go and get a drink at the Starsight Inn?",
		"Have you been to Valyan as-Nadata yet? He can fix up your vehicles.",
		"Odyin as-Rhadeis is the best weapons vendor you'll find here.",
		"There's a teleporter shop here in the Starfarer's Refuge. Have you been there yet?",
		"If you have some leftover materials, you can trade them for tokens next to the teleporter shop.",
		"I thought I saw someone on those asteroids in the distance..."
      ],
	  "floran": [ 
        "Greetings, plant thing.",
		"Is your kind really carnivorous? I'd be more inclined to believe you are the ones being eaten.",
		"Are you edible? It's been too long since I had vegetables.",
		"No stabbing here, plant.",
		"Don't you think breaking things is more fun than stabbing things?",
		"You seem like a capable hunter.",
		"Your kind makes rather impressive spears.",
		"Hello there.",
		"Can I help you?",
		"As a plant, do you have blood?",
		"Welcome to the Starfarer's Refuge, stranger!",
		"Why don't you go and get a drink at the Starsight Inn?",
		"Have you been to Valyan as-Nadata yet? He can fix up your vehicles.",
		"Odyin as-Rhadeis is the best weapons vendor you'll find here.",
		"There's a teleporter shop here in the Starfarer's Refuge. Have you been there yet?",
		"If you have some leftover materials, you can trade them for tokens next to the teleporter shop.",
		"I thought I saw someone on those asteroids in the distance..."
      ],
	  "glitch": [ 
        "I don't like you.",
		"Machine.",
		"You have no soul, machine.",
		"The Watchers are watching you.",
		"Alien Interaction Protocol B1 of the Avikan Common Law demands I ignore you, machine.",
		"I'm not talking to a machine.",
		"You'll find few friends here.",
		"I'm not fond of machines.",
		"I might tolerate your kind, but that doesn't mean I like you.",
		"Who built you?",
		"The Starfarer's Refuge welcomes all, even machines.",
		"I doubt the Starsight Inn offers anything you can even drink, machine.",
		"Valyan as-Nadata repairs vehicles. Maybe he can repair you too.",
		"Odyin as-Rhadeis offers weapons, but I'm not sure what he'll be willing to offer you.",
		"There's a teleporter shop near here. Use it.",
		"Perhaps you could trade in yourself at the material exchange.",
		"Why don't you leave me and go sit on those asteroids in the distance instead?"
      ],
	  "hylotl": [ 
        "Greetings, wet one.",
		"Aren't you afraid you might dry up here?",
		"Your skin is all wet!",
		"I've heard your kind likes mysteries. You should investigate the Old Ones.",
		"I can only imagine what a world of water must look like...",
		"Could you teach me how to swim one day?",
		"Vas Vha'leih, creature of the water.",
		"Hello there.",
		"Can I help you?",
		"By Rhadeis, you're all wet!",
		"Welcome to the Starfarer's Refuge, stranger!",
		"Why don't you go and get a drink at the Starsight Inn?",
		"Have you been to Valyan as-Nadata yet? He can fix up your vehicles.",
		"Odyin as-Rhadeis is the best weapons vendor you'll find here.",
		"There's a teleporter shop here in the Starfarer's Refuge. Have you been there yet?",
		"If you have some leftover materials, you can trade them for tokens next to the teleporter shop.",
		"I thought I saw someone on those asteroids in the distance..."
      ],
	  "novakid": [ 
        "Greetings, glowing one.",
		"Where did you come from? Oh, right, you must have forgotten.",
		"Do you remember what you did yesterday?",
		"I saw your spaceship on your way in. It looked a bit odd.",
		"What are you made of, exactly?",
		"I'd like to have you with me next time I delve underground.",
		"You won't be any good at hide and seek.",
		"Hello there.",
		"Can I help you?",
		"Are you a god?",
		"Welcome to the Starfarer's Refuge, stranger!",
		"Why don't you go and get a drink at the Starsight Inn?",
		"Have you been to Valyan as-Nadata yet? He can fix up your vehicles.",
		"Odyin as-Rhadeis is the best weapons vendor you'll find here.",
		"There's a teleporter shop here in the Starfarer's Refuge. Have you been there yet?",
		"If you have some leftover materials, you can trade them for tokens next to the teleporter shop.",
		"I thought I saw someone on those asteroids in the distance..."
      ],
	  "avikan": [ 
        "Greetings, Captain.",
		"Greetings, friend.",
		"Vas Vha'leih.",
		"Brother, welcome!",
		"Welcome to the Starfarer's Refuge, Captain.",
		"Caught anything interesting lately?",
		"A captain! It's an honour, sir!",
		"I miss Kadavan...",
		"I'm telling you, the Council is close to finding Vhalas Andra'veih!",
		"Have you cleaned your flaps recently?",
		"Wait, you have your own ship? That must be a dream come true!",
		"I hope you're respecting the Avikan Common Law, friend. Otherwise we might have a problem.",
		"Dismantled any machines recently?",
		"The council deemed you worthy of your own ship? Well, if they believe you capable, then so will I.",
		"Nothing but respect for a captain of the Fleet. Hail the Nomada!",
		"By Rhadeis, you look like you've been through hell!",
		"I wish I could be a captain like you...",
		"Could you vow for me at the Council? I've issued a request for admission as a Fleet captain, and I need all the support I can get!",
		"Anything to report?",
		"Filed any interesting reports lately?",
		"I hope you are doing your part for the Nomada.",
		"The role of Fleet captain comes with a great many responsibilities. Are you certain you can handle them?",
		"Have you ever been on a pilgrimage to Vas Vha'leih?",
		"I wish I could go on adventures like you, Captain.",
		"Do you need anyone for your crew?",
		"I hope you treat your pet sandworm well. Those things can get very aggressive if they're ignored.",
		"The Nomada could use more people like you.",
		"Have you heard of these 'Glitch' inhabiting this part of the galaxy? We should eradicate them before it's too late.",
		"Have you ever been summoned by the Council?",
		"Do you have your keff-riding license yet?",
		"Hmm? Oh, sorry Captain! I hadn't noticed you there.",
		"Have you found a mate yet?",
		"I might know some people who'd like to enlist for your crew.",
		"I forgot to file last week's report... I hope that won't get me into too much trouble.",
		"Do you have any interesting tales to tell, Captain?",
		"Rhadeis supports you, Captain.",
		"You must meet a lot of interesting people on your journeys.",
		"Need anything, Captain?",
		"Are you on a mission?",
		"The Watchers could use someone like you.",
		"You'd be a great fit for the Seekers, Captain.",
		"I'm sure you could become a Centlar if you wanted to.",
		"Welcome to the Starfarer's Refuge, Starfarer.",
		"Have you ever seen the ruins of the Old Ones on your journeys?",
		"Have you ever slain a Thell?",
		"Welcome to the Starfarer's Refuge, Captain!",
		"Why don't you go and get a drink at the Starsight Inn?",
		"Have you been to Valyan as-Nadata yet? He can fix up your vehicles.",
		"Odyin as-Rhadeis is the best weapons vendor you'll find here.",
		"There's a teleporter shop here in the Starfarer's Refuge. Have you been there yet?",
		"If you have some leftover materials, you can trade them for tokens next to the teleporter shop.",
		"I thought I saw someone on those asteroids in the distance..."
      ],
	  "trink": [ 
        "I don't like you.",
		"Machine.",
		"You have no soul, machine.",
		"The Watchers are watching you.",
		"Alien Interaction Protocol B1 of the Avikan Common Law demands I ignore you, machine.",
		"I'm not talking to a machine.",
		"You'll find few friends here.",
		"I'm not fond of machines.",
		"I might tolerate your kind, but that doesn't mean I like you.",
		"Who built you?",
		"The Starfarer's Refuge welcomes all, even machines.",
		"I doubt the Starsight Inn offers anything you can even drink, machine.",
		"Valyan as-Nadata repairs vehicles. Maybe he can repair you too.",
		"Odyin as-Rhadeis offers weapons, but I'm not sure what he'll be willing to offer you.",
		"There's a teleporter shop near here. Use it.",
		"Perhaps you could trade in yourself at the material exchange.",
		"Why don't you leave me and go sit on those asteroids in the distance instead?"
      ],
	  "droden" : [
		"I see you have gained civilian status. Impressive.",
		"I don't like machines, but you seem okay. For a machine, that is.",
		"A Droden with civilian status. How did you achieve that?",
		"You machines only ever make things worse.",
		"You are an example of what machines can be.",
		"I don't like you.",
		"You think you have a soul? You thought wrong.",
		"Soulless machine. Get out of here.", 
		"At least you're on our side.",
		"Your head would make for a fine trophy.",
		"So, you're an actual AI? I thought you'd be scarier.",
		"As you're a Droden, I guess the Alien Interaction Protocol doesn't apply here.",
		"You'll get no love from me.",
		"You Droden are only good for doing menial labour.",
		"Machine people are people too, but don't tell anyone here I said that.",
		"Hmph.",
		"Yeah?",
		"My Keff needs repairs. You wouldn't happen to be a repair-frame, would you?",
		"Wait, your owner set you free?",
		"You're nothing more than a walking scrap bag.",
		"You're in league with the Thell, aren't you?",
		"I'm keeping my eye on you, machine.",
		"Few Droden are autonomous these days. And that's a good thing.", 
		"I hope you're on our side. Otherwise, I'll have to dismantle you.",
		"I can't believe your owner actually set you free.",
		"What kind of frame are you? Combat? Repairs?.",
		"As per Alien Interaction Proto... Oh right, you're not considered an alien by the Common Law...",
		"You Droden are a dying race.",
		"Aren't you supposed to be cleaning something, machine?",
		"If Rhadeis didn't agree to Droden being free, I suppose you wouldn't have been here.",
		"Welcome to the Starfarer's Refuge, Droden.",
		"I guess you don't have any use for a drink, but the Starsigh Inn might have other things you can use.",
		"Have you been to Valyan as-Nadata yet? He can fix up your vehicles.",
		"Odyin as-Rhadeis is the best weapons vendor you'll find here.",
		"There's a teleporter shop here in the Starfarer's Refuge. Have you been there yet?",
		"If you have some leftover materials, you can trade them for tokens next to the teleporter shop.",
		"I thought I saw someone on those asteroids in the distance..."
	  ]
    }
  }
}