{
  "openWithInventory" : true, //Forces the inventory to open when opening this interface
  
  "gui" : {
	//Main body
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/uniqueweaponinfusion/header.png",
      "fileBody" : "/interface/scripted/uniqueweaponinfusion/body.png",
      "fileFooter" : "/interface/scripted/uniqueweaponinfusion/footer.png"
    },

	//Title, subtitles and icon
    "windowtitle" : {
      "type" : "title",
      "title" : " Infusion Station",
      "subtitle" : " Strengthen your Unique equipment",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/uniqueweaponinfusion/icon.png"
      }
    },

	//Close interface button
	"close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [176, 168]
    },

	//Informational text fields
	"infoLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [10, 149],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "Destroy a weapon to upgrade a Unique item"
    },
	"itemLevelLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [58, 113],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "-"
    },
	"sacrificeLevelLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [135, 113],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "-"
    },
	
	//Scripted buttons
    "btnInfuse" : {
      "type" : "button",
      "position" : [69, 27],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Infuse",
      "callback" : "attemptInfuse"
    },

	//Item grids
	//Slots 1-2: Unique item, sacrificed item
	"itemGrid" : {
      "type" : "itemgrid",
      "position" : [67, 105],
      "dimensions" : [2, 1],
      "spacing" : [40, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
	//Slot 3: upgraded item
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [87, 53],
      "slotOffset" : 2,
      "dimensions" : [1, 1],
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    }
  },

  "scriptWidgetCallbacks" : [
    "attemptInfuse"
  ],

  "scripts" : ["/interface/scripted/uniqueweaponinfusion/uniqueweaponinfusiongui.lua"],
  "scriptDelta" : 5
}
