{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/xanafianshadowspawn/xanafianshadowspawn.animation",
				"fullbright" : true,
				"layer" : "front",
                "timeToLive" : 0.3
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/monsters/xanafian_shadow_death.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    }

  ]
}
