{
  "action" : "actions",
  "list" : [
	//EXPLOSION PROJECTILES
	{
	  "action" : "projectile",
	  "inheritDamageFactor" : 1,
	  "type" : "avikanbunkerbusterexplosion"
	},
	{
	  "action" : "projectile",
	  "inheritDamageFactor" : 0,
	  "type" : "explosiondebrisfirespawner2"
	},
	
	//FIRE PROJECTILES
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 0
	},
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 30
	},
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 60
	},
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 90
	},
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 120
	},
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 150
	},
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 180
	},
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 210
	},
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 240
	},
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 270
	},
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 300
	},
	{
	  "action" : "projectile",
	  "type" : "avikanflame2",
	  "fuzzAngle" : 0,
	  "inheritDamageFactor" : 0.01,
	  "angleAdjust" : 330
	},
	
	//SPARKS
	{
	  "action" : "loop",
	  "count" : 50,
	  "body" : [
		{
		  "action" : "spark"
		}
	  ]
	},
	
	//FLASH
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "textured",
                "image" : "/animations/allianceflash/allianceflash.png",
                "fade" : 1.0,
                "destructionAction" : "fade",
                "destructionTime" : 0.35,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [0, 0],
                "timeToLive" : 0.1,
                "size" : 2.0,
                "layer" : "front"
              }
            }
          ]
        }
      ]
    },
	
	//SMOKE
	{
	  "action" : "loop",
	  "count" : 10,
	  "body" : [
		{
		  "action" : "option",
		  "options" : [
			{
			  "action" : "particle",
			  "specification" : {
				"type" : "animated",
				"animation" : "/animations/avikanbunkerbusterexplosion/hugesmoke.animation",
				"approach" : [0.5, 0.5],
				"timeToLive" : 1.2,
				"size" : 1.25,
				//"layer" : "front",
				"variance" : {
				  "position" : [6.0, 6.0],
				  "initialVelocity" : [2, 2],
				  "timeToLive" : 0.6,
				  "size" : 0.25,
				  "rotation" : 180
				}
			  }
			}
		  ]
		}
	  ]
	},
	{
	  "action" : "loop",
	  "count" : 16,
	  "body" : [
		{
		  "action" : "option",
		  "options" : [
			{
			  "action" : "particle",
			  "specification" : {
				"type" : "animated",
				"animation" : "/animations/avikanbunkerbusterexplosion/largesmoke.animation",
				"approach" : [0.5, 0.5],
				"timeToLive" : 1.6,
				"size" : 1.25,
				"variance" : {
				  "position" : [6.5, 6.5],
				  "initialVelocity" : [5, 5],
				  "timeToLive" : 0.6,
				  "size" : 0.25,
				  "rotation" : 180
				}
			  }
			}
		  ]
		}
	  ]
	},
	
	//FIRE
	{
	  "action" : "loop",
	  "count" : 1,
	  "body" : [
		{
		  "action" : "option",
		  "options" : [
			{
			  "action" : "particle",
			  "specification" : {
				"type" : "animated",
				"animation" : "/animations/avikanbunkerbusterexplosion/hugeflame.animation",
				"approach" : [0.5, 0.5],
				"timeToLive" : 1.2,
				"size" : 1.25,
				//"layer" : "front",
				"variance" : {
				  "position" : [0.5, 0.5],
				  "initialVelocity" : [1, 1],
				  "timeToLive" : 0.6,
				  "size" : 0.25,
				  "rotation" : 180
				}
			  }
			}
		  ]
		}
	  ]
	},
	{
	  "action" : "loop",
	  "count" : 8,
	  "body" : [
		{
		  "action" : "option",
		  "options" : [
			{
			  "action" : "particle",
			  "specification" : {
				"type" : "animated",
				"animation" : "/animations/avikanbunkerbusterexplosion/hugeflame.animation",
				"approach" : [0.5, 0.5],
				"timeToLive" : 1.2,
				"size" : 1.25,
				//"layer" : "front",
				"variance" : {
				  "position" : [5.0, 5.0],
				  "initialVelocity" : [1, 1],
				  "timeToLive" : 0.6,
				  "size" : 0.25,
				  "rotation" : 180
				}
			  }
			}
		  ]
		}
	  ]
	},
	{
	  "action" : "loop",
	  "count" : 16,
	  "body" : [
		{
		  "action" : "option",
		  "options" : [
			{
			  "action" : "particle",
			  "specification" : {
				"type" : "animated",
				"animation" : "/animations/avikanbunkerbusterexplosion/largeflame.animation",
				"approach" : [0.5, 0.5],
				"timeToLive" : 1.2,
				"size" : 1.25,
				"variance" : {
				  "position" : [5.5, 5.5],
				  "initialVelocity" : [1, 1],
				  "timeToLive" : 0.3,
				  "size" : 0.25,
				  "rotation" : 180
				}
			  }
			}
		  ]
		}
	  ]
	},
	{
	  "action" : "loop",
	  "count" : 16,
	  "body" : [
		{
		  "action" : "option",
		  "options" : [
			{
			  "action" : "particle",
			  "specification" : {
				"type" : "animated",
				"animation" : "/animations/avikanbunkerbusterexplosion/mediumflame.animation",
				"approach" : [0.5, 0.5],
				"timeToLive" : 1.6,
				"size" : 1.25,
				"variance" : {
				  "position" : [6.5, 6.5],
				  "initialVelocity" : [3, 3],
				  "timeToLive" : 0.3,
				  "size" : 0.25,
				  "rotation" : 180
				}
			  }
			}
		  ]
		}
	  ]
	},
	{
	  "action" : "loop",
	  "count" : 24,
	  "body" : [
		{
		  "action" : "option",
		  "options" : [
			{
			  "action" : "particle",
			  "specification" : {
				"type" : "animated",
				"animation" : "/animations/avikanbunkerbusterexplosion/smallflame.animation",
				"approach" : [0.5, 0.5],
				"timeToLive" : 1.4,
				"size" : 1.25,
				"variance" : {
				  "position" : [6.5, 6.5],
				  "initialVelocity" : [2, 2],
				  "timeToLive" : 0.3,
				  "size" : 0.25,
				  "rotation" : 180
				}
			  }
			}
		  ]
		}
	  ]
	},
	
	//FOG
	{
	  "action" : "loop",
	  "count" : 6,
	  "body" : [
		{
		  "action" : "option",
		  "options" : [
			{
			  "action" : "particle",
			  "specification" : {
				"type" : "animated",
				"image" : "/animations/floorsmoke/floorsmoke.animation",
				"size" : 1.0,
				"color" : [175, 175, 175, 255],
				"destructionAction" : "fade",
				"destructionTime" : 5,
				"initialVelocity" : [0, 0],
				"timeToLive" : 1,
				//"layer" : "front",
				"variance" : {
				  "initialVelocity" : [2, 0.0],
				  "position" : [5, 1.5]
				}
              }
			}
		  ]
		}
	  ]
	},
	
	//SOUNDS AND LIGHTS
	{
	  "action" : "sound",
	  "options" : [ "/sfx/projectiles/thea_explosion_large.ogg" ]
	},
	{
	  "action" : "light",
	  "color" : "orange"
	},
	
	//TILE DAMAGE
	{
	  "action" : "explosion",
	  "foregroundRadius" : 8,
	  "backgroundRadius" : 6,
	  "explosiveDamageAmount" : 100.0,
	  //"harvestLevel" : 99,
	  "delaySteps" : 0
	}
  ]
}
