{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "xanafiangravityexplosion"
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/xanafiangravitywell/xanafiangravitywellstart.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 0.25
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "light",
      "color" : [33, 0, 127]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/xanafian_gravitywell_start2.ogg" ]
    }
  ]
}
