{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.25,
      "type" : "primeinitiativeexplosion"
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/primeinitiativeexplosion/primeinitiativeexplosion.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 0.5,
                "variance" : {
                  "position" : [0.0, 0.0],
                  "initialVelocity" : [0, 0],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 15,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/linerifleburn/linerifleburn.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 0.25,
				"layer" : "middle",
				"fullbright" : true,
                "variance" : {
                  "timeToLive" : 0.75,
				  "position" : [2.0, 2.0],
                  "initialVelocity" : [0, 0],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/pulsecannon_blast1.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 1.0,
      "delaySteps" : 2
    }

  ]
}
