{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "ancientcursesplinterexplosion"
    },
	{
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
			  "specification" : "ancientcurseflash"
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 25,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
			  "specification" : "ancientcursegoop"
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
		{
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/statuseffects/ancientcurse_blast1.ogg", "/sfx/statuseffects/ancientcurse_blast2.ogg", "/sfx/statuseffects/ancientcurse_blast3.ogg" ]
    }
  ]
}
