{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "trinkfreezeexplosion"
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/frostsmoke/frostsmoke.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 1.0,
                "variance" : {
                  "position" : [2.0, 2.0],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.3,
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/frostsmoke/frostsmoke2.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.8,
                "variance" : {
                  "position" : [2.0, 2.0],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.3,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/frostsmoke/frostsmoke3.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 1.0,
                "variance" : {
                  "position" : [3.0, 3.0],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.3,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/smallcloud/smallicecloud.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.3,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/frozendust2/frozendust2.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.3,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_ice1.ogg", "/sfx/gun/grenadeblast_ice2.ogg", "/sfx/gun/grenadeblast_ice3.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.1,
      "delaySteps" : 2
    }
  ]
}
