{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
				"type" : "text",
				"text" : "^shadow;Already received today's present!",
				"color" : [255, 255, 255, 255],
				"light" : [50, 50, 50],
				"fullbright" : true,
				"initialVelocity" : [0, 2],
				"finalVelocity" : [0, -1],
				"size" : 0.75,
				"approach" : [0, 3],
				"angularVelocity" : 20,
				"timeToLive" : 1.0,
				"layer" : "front",
				"destructionAction" : "shrink",
				"destructionTime" : 0.5,
				"variance" : {
				  "initialVelocity" : [0, 0]
				},
				"flippable" : false
			  }
            }
          ]
        }
      ]
    }
  ]
}
