{
  "pieces" : {
    "NW" : {
      "textureSize" : [16, 16],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "N" : {
      "textureSize" : [16, 16],
      "texturePosition" : [16, 0],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "NE" : {
      "textureSize" : [16, 16],
      "texturePosition" : [32, 0],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "W" : {
      "textureSize" : [16, 16],
      "texturePosition" : [0, 16],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "C" : {
      "textureSize" : [16, 16],
      "texturePosition" : [16, 16],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "E" : {
      "textureSize" : [16, 16],
      "texturePosition" : [32, 16],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "SW" : {
      "textureSize" : [16, 16],
      "texturePosition" : [0, 32],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "S" : {
      "textureSize" : [16, 16],
      "texturePosition" : [16, 32],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "SE" : {
      "textureSize" : [16, 16],
      "texturePosition" : [32, 32],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "capN" : {
      "textureSize" : [16, 4],
      "texturePosition" : [48, 0],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "capS" : {
      "textureSize" : [16, 4],
      "texturePosition" : [48, 12],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "capE" : {
      "textureSize" : [4, 16],
      "texturePosition" : [52, 16],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "capW" : {
      "textureSize" : [4, 16],
      "texturePosition" : [56, 16],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "bgNW" : {
      "textureSize" : [16, 16],
      "texturePosition" : [64, 0],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "bgNE" : {
      "textureSize" : [16, 16],
      "texturePosition" : [80, 0],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "bgSW" : {
      "textureSize" : [16, 16],
      "texturePosition" : [64, 16],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "bgSE" : {
      "textureSize" : [16, 16],
      "texturePosition" : [80, 16],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "H" : {
      "textureSize" : [16, 16],
      "texturePosition" : [64, 32],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    },
    "V" : {
      "textureSize" : [16, 16],
      "texturePosition" : [80, 32],
      "colorStride" : [0, 48],
      "variantStride" : [96, 0]
    }
  },

  "representativePiece": "H",

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotEqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      // horizontal
      {
        "matchAllPoints" : [
          [[0, 1], "NotEqualsSelf"],
          [[0, -1], "NotEqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["H", [-4, -4]]],
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[1, 0], "Empty"]
            ],
            "pieces" : [["capE", [8, -4]]]
          },
          {
            "matchAllPoints" : [
              [[-1, 0], "Empty"]
            ],
            "pieces" : [["capW", [-4, -4]]]
          }
        ]
      },

      // vertical
      {
        "matchAllPoints" : [
          [[1, 0], "NotEqualsSelf"],
          [[-1, 0], "NotEqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["V", [-4, -4]]],
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[0, 1], "Empty"]
            ],
            "pieces" : [["capN", [-4, 8]]]
          },
          {
            "matchAllPoints" : [
              [[0, -1], "Empty"]
            ],
            "pieces" : [["capS", [-4, -4]]]
          }
        ]
      },

      // uppers
      {
        "matchAllPoints" : [
          [[0, 1], "NotEqualsSelf"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[-1, 0], "NotEqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "requiredLayer" : "foreground",
                "haltOnMatch" : true,
                "pieces" : [["NW", [-4, -4]]]
              },
              {
                "pieces" : [["bgNW", [-4, -4]]]
              }
            ]
          },
          {
            "matchAllPoints" : [
              [[1, 0], "NotEqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "requiredLayer" : "foreground",
                "haltOnMatch" : true,
                "pieces" : [["NE", [-4, -4]]]
              },
              {
                "pieces" : [["bgNE", [-4, -4]]]
              }
            ]
          },
          {
            "pieces" : [["N", [-4, -4]]]
          }
        ]
      },

      // downers
      {
        "matchAllPoints" : [
          [[0, -1], "NotEqualsSelf"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[-1, 0], "NotEqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "requiredLayer" : "foreground",
                "haltOnMatch" : true,
                "pieces" : [["SW", [-4, -4]]]
              },
              {
                "pieces" : [["bgSW", [-4, -4]]]
              }
            ]
          },
          {
            "matchAllPoints" : [
              [[1, 0], "NotEqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "requiredLayer" : "foreground",
                "haltOnMatch" : true,
                "pieces" : [["SE", [-4, -4]]]
              },
              {
                "pieces" : [["bgSE", [-4, -4]]]
              }
            ]
          },
          {
            "pieces" : [["S", [-4, -4]]]
          }
        ]
      },

      // plus plus
      {
        "matchAllPoints" : [
          [[1, 0], "EqualsSelf"],
          [[-1, 0], "EqualsSelf"],
          [[0, 1], "EqualsSelf"],
          [[0, -1], "EqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["C", [-4, -4]]]
      },

      // extra T's
      {
        "matchAllPoints" : [
          [[1, 0], "EqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["W", [-4, -4]]]
      },
      {
        "matchAllPoints" : [
          [[-1, 0], "EqualsSelf"]
        ],
        "pieces" : [["E", [-4, -4]]]
      }
    ]]
  ]
}
