{
  "gui" : {
	//Main body
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/alliancerecruitment/header.png",
      "fileBody" : "/interface/scripted/alliancerecruitment/body.png",
      "fileFooter" : "/interface/scripted/alliancerecruitment/footer.png"
    },

	//Title, subtitles and icon
    "windowtitle" : {
      "type" : "title",
      "title" : " Alliance Recruitment Desk",
      "subtitle" : " Recruit crewmembers from the Alliance",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/alliancerecruitment/icon.png",
        "zlevel" : -1
      }
    },

	//Close interface button
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [210, 201]
    },

	//Informational text fields
    "lblInformationText" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [20, 183],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "Use contracts to recruit Alliance crewmembers"
    },
	"lblWarningText" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [9, 174],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "color" : "red",
      "value" : "Make sure your crew isn't full. No refunds possible!"
    },

	//Traded item and item count
    "itmTradeItem" : {
      "type" : "itemslot",
      "zlevel" : 1,
      "position" : [52, 35],
      "callback" : "null"
    },
    "lblTradeItemName" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [76, 44],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Alliance Crew Contract",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },
    "lblTradeItemQuantity" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [171, 40],
      "hAnchor" : "right",
      "vAnchor" : "bottom",
      "color" : "green",
      "value" : "20/20"
    },
	
	//Text fields for the various crewmember type names
    "lblCombat" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [43, 141],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "Soldier",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },
    "lblMedic" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [113, 141],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "Medic",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },
    "lblEngineer" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [183, 141],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "Engineer",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },
    "lblMechanic" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [43, 86],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "Mechanic",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },
    "lblJanitor" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [113, 86],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "Janitor",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },
    "lblTailor" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [183, 86],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "Tailor",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },

	//Recruitment buttons for the various crewmember types
    "btnRecruitCombat" : {
      "type" : "button",
      "position" : [16, 117],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Recruit",
      "callback" : "recruitCrewmemberCombat"
    },
	"btnRecruitMedic" : {
      "type" : "button",
      "position" : [86, 117],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Recruit",
      "callback" : "recruitCrewmemberMedic"
    },
	"btnRecruitEngineer" : {
      "type" : "button",
      "position" : [156, 117],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Recruit",
      "callback" : "recruitCrewmemberEngineer"
    },
	"btnRecruitMechanic" : {
      "type" : "button",
      "position" : [16, 62],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Recruit",
      "callback" : "recruitCrewmemberMechanic"
    },
	"btnRecruitJanitor" : {
      "type" : "button",
      "position" : [86, 62],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Recruit",
      "callback" : "recruitCrewmemberJanitor"
    },
	"btnRecruitTailor" : {
      "type" : "button",
      "position" : [156, 62],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Recruit",
      "callback" : "recruitCrewmemberTailor"
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/alliancerecruitment/shine.png",
      "zlevel" : 2,
      "position" : [0, 0],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "recruitCrewmemberCombat",
	"recruitCrewmemberMedic",
	"recruitCrewmemberEngineer",
	"recruitCrewmemberMechanic",
	"recruitCrewmemberJanitor",
	"recruitCrewmemberTailor"
  ],

  "scripts" : ["/interface/scripted/alliancerecruitment/alliancerecruitmentgui.lua"],
  "scriptDelta" : 5
}
