{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "sundrainerexplosion"
    },
	{
      "action" : "projectile",
      "inheritDamageFactor" : 0.1,
      "type" : "jumpfireexplosiondebrisspawner"
    },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/sundrainerexplosion/smallsundrainerexplosion.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 2.0,
                "variance" : {
                  "position" : [2.0, 2.0],
                  "initialVelocity" : [1, 1],
				  "timeToLive" : 0.8,
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/jumprifleexplosion/jumprifleexplosion.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 2.0,
                "variance" : {
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [0, 0],
				  "timeToLive" : 0.6,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 16,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
				"size" : 3.0,
				"color" : [255, 190, 0],
				"position" : [0, 0],
				"destructionAction" : "shrink",
				"destructionTime" : 0.5,
				"fade" : 1,
				"layer" : "middle",
				"fullbright" : true,
				"timeToLive" : 0.6,
				"initialVelocity" : [0.0, 0.0],
				"finalVelocity" : [0, -10.0],
				"approach" : [5, 20],
				"variance" : {
				  "initialVelocity" : [25.0, 25.0],
				  "size" : 0.5,
				  "timeToLive" : 0.5
				}
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 16,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
				"size" : 3.0,
				"color" : [255, 106, 0],
				"position" : [0, 0],
				"destructionAction" : "shrink",
				"destructionTime" : 0.5,
				"fade" : 1,
				"layer" : "middle",
				"fullbright" : true,
				"timeToLive" : 0.6,
				"initialVelocity" : [0.0, 0.0],
				"finalVelocity" : [0, -10.0],
				"approach" : [5, 20],
				"variance" : {
				  "initialVelocity" : [25.0, 25.0],
				  "size" : 0.5,
				  "timeToLive" : 0.5
				}
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/pulsecannon_blast1.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 2.0,
      "delaySteps" : 2
    }
  ]
}
