{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "violatedionexplosion-noeffect"
    },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/violatediontrail/violatediontrail.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 1.6,
				"fullbright" : true,
				"collidesLiquid" : false,
                "variance" : {
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [1, 1],
				  "timeToLive" : 0.6,
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/violatediontrail/violatediontrail.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 2.0,
				"fullbright" : true,
				"collidesLiquid" : false,
                "variance" : {
                  "position" : [1.0, 1.0],
                  "initialVelocity" : [1, 1],
				  "timeToLive" : 0.8,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 12,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/violatediontrail/violatediontrail.animation",
                "timeToLive" : 2.8,
				"fullbright" : true,
				"collidesLiquid" : false,
                "variance" : {
                  "initialVelocity" : [8, 8],
				  "timeToLive" : 1.2,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/violatedionburst/violatedionburst.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 0.5,
				"fullbright" : true,
				"collidesLiquid" : false
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/violatedioncannon_explosion.ogg" ]
    },
    {
      "action" : "light",
      "color" : "red"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 2.0,
      "delaySteps" : 2
    }

  ]
}
