{
  "gui" : { //Font is Hobo 12px
  //==================================== STANDARD ELEMENTS ====================================
	//Main body
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/events/harrowing/body.png",
      "fileBody" : "",
      "fileFooter" : ""
    },
	//Close interface button
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 210]
    },

	//Informational text fields
    "title" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [186, 219],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : "^orange;NEW EVENT: ^gray;The Harrowing^reset;"
	},

    "description" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [189, 203],
      "hAnchor" : "left",
      "vAnchor" : "top",
	  "wrapWidth" : 198,
      "lineSpacing" : 1.0,
      "value" : 

//=========================================== DESCRIPTION BOX ===========================================
"During the Harrowing, the Aegi remember the dead and celebrate the living. It's a time for candy, costumes and tricks! This event features:

- A new event-themed ^cyan;vendor ^reset;who sells a variety of event items. You can find Ayala, the Harrowing event vendor, in the Creon Embassy

- ^cyan;Collectible masks ^reset;and ^cyan;costumes ^reset;for all races

- ^cyan;Sweet candy ^reset;that offers a variety of useful and fun status effects

- New quests for obtaining event-themed ^orange;Unique-quality items^reset;

- Event-themed ^cyan;decorative objects ^reset;to bring the Harrowing to your own home"
//=======================================================================================================

    }
  }
}
