{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "allianceknockbackexplosion"
    },
    {
      "action" : "loop",
      "count" : 25,
      "body" : [
		{
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/blast_small1.ogg" ]
    }
  ]
}
