{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/voiceofrhadeisbulletimpact/voiceofrhadeisbulletimpact-ice.animation",
				"fullbright" : true,
				"layer" : "front",
                "timeToLive" : 0.5,
				"variance" : {
				  "rotation" : 180
				}
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/andraveihan_stop2.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    }
  ]
}
