{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 12,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
				"size" : 1.5,
				"color" : [84, 82, 85],
				"position" : [0, 0],
				"destructionAction" : "shrink",
				"destructionTime" : 0.3,
				"initialVelocity" : [0.0, 0.0],
				"finalVelocity" : [0, -10.0],
				"approach" : [5, 15],
				"fade" : 1,
				"layer" : "middle",
				"timeToLive" : 0.8,
				"variance" : {
				  "initialVelocity" : [8.0, 8.0],
				  "size" : 0.5,
				  "timeToLive" : 0.2,
				  "position" : [0.5, 0.5]
				}
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
			  "specification" : "akkimariashsmoke"
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/shield_break_metal.ogg" ]
    }
  ]
}
